ol {
  list-style-type: none; }

ul {
  list-style-type: none; }

li {
  list-style-type: none; }

form p {
  clear: left;
  margin-bottom: 0;
  padding: 3px 0;
  width: 100%; }
  form p label {
    display: block;
    cursor: pointer;
    font: 11px Tahoma, sans-serif;
    font-weight: bold;
    color: #555;
    vertical-align: middle;
    padding: 4px 2px;
    margin-right: 10px; }
  form p small {
    display: block;
    font-size: 10px;
    padding: 0 2px;
    color: #aaa; }
form input[type="text"] {
  border: 1px solid #ddd;
  padding: 5px 4px; }
form input[type="email"] {
  border: 1px solid #ddd;
  padding: 5px 4px; }
form input[type="password"] {
  border: 1px solid #ddd;
  padding: 5px 4px; }
form select {
  border: 1px solid #ddd;
  padding: 5px 4px;
  padding: 3px; }
form textarea {
  border: 1px solid #ddd;
  padding: 5px 4px; }

form.inline p label {
  float: left;
  text-align: right;
  width: 45px;
  padding: 4px 0; }
form.inline p.buttons {
  margin-left: 55px; }

#menu-title {
  width: 90%; }

#menu-url {
  width: 90%; }

#menu-class {
  width: 90%; }

#edit-menu-title {
  width: 70%; }

#edit-menu-url {
  width: 70%; }

#edit-menu-class {
  width: 70%; }

#menu-group-title {
  width: 70%; }

ul#menu-group {
  float: left;
  font-weight: bold;
  margin-bottom: 20px;
  background: #fff;
  width: 100%;
  border-bottom: 5px solid #666; }
  ul#menu-group li {
    float: left; }
    ul#menu-group li a {
      display: block;
      padding: 5px 10px;
      margin: 5px 5px 0 0;
      color: #888;
      background: #eee;
      background: -webkit-gradient(linear, 0 0, 0 bottom, from(#eee), to(#e4e4e4));
      background: -moz-linear-gradient(#eee, #e4e4e4);
      background: linear-gradient(#eee, #e4e4e4); }
      ul#menu-group li a:hover {
        color: #555;
        background: #eee;
        text-decoration: unset; }
  ul#menu-group li#add-group {
    float: right; }
    ul#menu-group li#add-group a {
      margin-right: 0; }
  ul#menu-group li.current a {
    color: #fff;
    background: #616161; }

#edit-form {
  display: none;
  border: 1px solid #ccc;
  background: #fcfcfc;
  border-top: none;
  padding: 10px 0; }

#menu-group-add {
  display: none; }

.ns-helper {
  border: 1px dashed #e3e3e3;
  background: #e6e6e6;
  border-radius: 5px; }

.sortable {
  margin: 5px 0;
  clear: both; }
  .sortable img {
    vertical-align: bottom; }

#ns-header {
  padding: 8px 10px;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  background: #616161 !important;
  border-radius: unset !important; }
  #ns-header div {
    border: none; }

#ns-footer {
  text-align: right;
  margin-top: 10px; }

.ns-row {
  font: 11px Tahoma, sans-serif;
  line-height: 18px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #cfcfcf;
  position: relative; }
  .ns-row div {
    border-left: 1px solid #d5d5d5;
    height: 18px;
    overflow: hidden;
    position: absolute;
    top: 6px;
    padding-left: 10px; }

div.ns-title {
  position: static;
  border: none;
  font-weight: bold;
  padding-left: 0;
  cursor: move; }

.actions {
  width: 70px;
  right: 12px; }
  .actions a {
    alignment: center; }
    .actions a i {
      font-size: 22px; }

.ns-class {
  width: 100px;
  right: 60px; }

.ns-url {
  width: 150px;
  right: 300px; }

.edit-group-buttons {
  margin-top: 5px; }

/*# sourceMappingURL=menu.css.map */
