ul.list-group {
	li.list-group-item {
		&.active {
			a {
				color: #FFF;

				:hover {
					color: #FFF;
				}
			}
		}

		a {
			text-decoration: none;

			:hover {
				color: var(--main-color);
			}
		}

		h2 {
			margin-top: 10px;
		}
	}

	@media #{$small-mobile} {
		&.listCategory {
			height: calc(100% - 60px);
			position: fixed;
			top: 0px;
			left: -156px;
			z-index: 2;
			overflow: auto;
			transition: left 0.5s;
		}
		&:hover {
			left: -5px;
		}
		&.listCategory::-webkit-scrollbar {
			width: 0px;
		}
	}
}
