/* this file overrides default colors and must be included after the main CSS file */

html,
input[type=text]:focus:invalid,
input[type=password]:focus:invalid,
input[type=email]:focus:invalid,
input.text:focus:invalid,
textarea:focus:invalid {
	background-color: #f9f9f9;
}

body,
.invert-colors .thumb,
#header #logo h1 a,
#header #menu li a {
	color: #333;
}

a,
.button,
button,
input[type=submit],
input[type=reset],
input[type=button],
.pagination .page-numbers,
.button:visited,
.pagination .current,
.pagination .current:hover,
.invert-colors .button.light:hover,
.invert-colors button.light:hover,
.invert-colors input[type=submit].light:hover,
.invert-colors input[type=reset].light:hover,
.invert-colors input[type=button].light:hover,
.invert-colors .button.light:focus,
.invert-colors button.light:focus,
.invert-colors input[type=submit].light:focus,
.invert-colors input[type=reset].light:focus,
.invert-colors input[type=button].light:focus,
input[type=text]:focus:invalid,
input[type=password]:focus:invalid,
input[type=email]:focus:invalid,
input.text:focus:invalid,
textarea:focus:invalid,
.thumb h4.item-title .price,
.filter-selectors a.active,
#header #menu ul li.current_page_item>a,
#sidebar .recentcomments:before {
	color: #ff6764;
}

.active a {
	color: #ff6764 !important;
}

.button.light,
button.light,
input[type=submit].light,
input[type=reset].light,
input[type=button].light,
.button:hover,
button:hover,
input[type=submit]:hover,
input[type=reset]:hover,
input[type=button]:hover,
.pagination .current,
.pagination .current:hover,
.button.filled {
	color: #fff;
}

.button.dark,
button.dark,
input[type=submit].dark,
input[type=reset].dark,
input[type=button].dark {
	color: #1B1E1F;
}

.button,
button,
input[type=submit],
input[type=reset],
input[type=button],
.pagination .page-numbers,
#fancybox-loading,
#fancybox-loading div,
.collapse .active .collapse-title,
.pricing-table .special,
.pricing-table .special .price-title,
.pricing-table .special .price-tag {
	border-color: #ff6764;
}

#heading .iosSlider .slider .item .caption span.text:after,
.commentlist .bypostauthor {
	border-top-color: #ff6764;
}

.button:hover,
button:hover,
input[type=submit]:hover,
input[type=reset]:hover,
input[type=button]:hover,
.button:focus,
button:focus,
input[type=submit]:focus,
input[type=reset]:focus,
input[type=button]:focus,
.pagination .page-numbers:hover,
.pagination .page-numbers:focus,
.pagination .current,
.pagination .current:hover,
.button.filled,
.iosSlider .slider .item .caption span.text,
#heading .iosSlider .slider .item .caption span.text,
.audiojs,
.collapse .active .collapse-title,
.rotator li.active a,
.alert.error,
.pricing-table .special .price-title,
#social-share a.social-link,
.thumb .photo a:hover .tag,
#footer .bottom,
#content .invert-colors {
	background-color: #ff6764;
}

.alert.error {
	border-color: #FF8280;
}

.invert-colors .sep,
#footer .sep,
#content .invert-colors .bottom-shadow:after {
	background: #FF8280;
}

.iosSlider-container {
	background-color: #ddd;
}

#heading .iosSlider .controls span,
#header {
	background: #f2f2f2 url(../tmp/bg.png) repeat top center;
	color: #333;
}

.highlight {
	background: #333;
	color: #fff;
}

h2 .highlight {
	box-shadow: 0.3em 0 0 #333, -0.3em 0 0 #333;
	-moz-box-shadow: 0.3em 0 0 #333, -0.3em 0 0 #333;
	-webkit-box-shadow: 0.3em 0 0 #333, -0.3em 0 0 #333;
}

#social-share a.social-link {
	color: #fff;
}

#social-share a.social-link:hover {
	background-color: #f2f2f2;
	color: #333;
}

.thumb {
	background-color: #f4f4f4;
}

.thumb .bar:before,
.thumb .bar:after {
	border-bottom-color: #f4f4f4;
}

.invert-colors .thumb {
	background-color: #fff;
}

.thumb .photo .tag {
	background-color: #333;
}

#header #menu.mobile li {
	border-top-color: #ddd;
}

#heading .bar:before,
#heading .bar:after,
.thumb .bar:before,
.thumb .bar:after {
	border-bottom-color: #f9f9f9;
}

#footer .bottom a {
	color: #fff;
	text-decoration: underline;
}

#footer .bottom a.button,
#footer .bottom .flickr-gallery a {
	text-decoration: none;
}

#footer .bottom a.button.light:hover {
	color: #ff6764;
}

.searchform input[type=submit] {
	background-color: transparent;
}

@media (min-width: 768px) {

	#header #menu li a:hover,
	#header #menu li.has-children ul,
	#header #menu li.has-children:hover a,
	#header #menu li.shop-menu-item ul a {
		background-color: #e4e4e4;
	}

	#header #menu li.has-children ul a:hover {
		color: #aaa;
	}

	#header #menu li.has-children:hover a {
		color: #333;
	}

	#header #menu li.has-children:hover ul li.current_page_item>a {
		color: #ff6764 !important;
	}

	#header #menu .shop-menu-item a {
		background-color: #ff6764;
		color: #fff;
	}

	#header #menu ul .shop-menu-item.current_page_item>a {
		color: #fff;
	}

	.post .date {
		background-color: #ff6764;
	}
}
